In [1]:
print("hii")

hii

In [2]:
x=5
x

5

In [3]:
a=b=c=32
a
b
c

32

In [4]:
str1="oit"
str1

'oit'

In [5]:
str2=str1 + " institutre"
str2

'oit institutre'

In [6]:
n1=int(input("Enter value of n1"))
n2=int(input("Enter value of n2"))
n3=int(input("Enter value of n3"))
if n1>n2:
    if n1>n3:
        print(n1)
    else:
        print(n3)
else:
    if(n2>n3):
        print(n2)
    else:
        print(n3)

Enter value of n1 12
Enter value of n2 23
Enter value of n3 34

34

In [7]:
#max from 3 no
n1=int(input("Enter value of n1"))
n2=int(input("Enter value of n2"))
n3=int(input("Enter value of n3"))
if (n1>n2 and n1>n3):
    print("max =",+n1)
elif(n2>n1 and n2>n3):
    print("max =",+n2)
else:
    print("max =",+n3)

Enter value of n1 45
Enter value of n2 67
Enter value of n3 67

max = 67

In [8]:
point=int(input("Enter value of point"))
ammount=int(input("Enter value of ammount"))
total=0
discount=0
if(point>300 or ammount>10000):
    discount=ammount*0.1
    total=ammount-discount
else:
    discount=0
    total=ammount
print("ammount=",+ammount)
print("discount=",+discount)
print("total=",+total)

Enter value of point 56
Enter value of ammount 78

ammount= 78
discount= 0
total= 78

In [9]:
#max from 2 no
n1=int(input("Enter value of n1"))
n2=int(input("Enter value of n2"))
if n1>n2:
    print("max =",+n1)
elif n2>n1:
    print("max =",+n2)
else:
    print("both equals")

Enter value of n1 89
Enter value of n2 87

max = 89

In [10]:
n1=int(input("Enter value of n1"))
if n1>0:
    print("positive")
elif n1<0:
    print("negative")
else:
    print("zero")

Enter value of n1 78

positive

In [11]:
n=int(input("Enter value of n1"))
if (n%5==0 and n%11==0):
    print("divisible")
else:
    print("not")

Enter value of n1 78

not

In [12]:
n=int(input("Enter value of n1"))
if (n%2==0):
    print("even")
else:
    print("odd")

Enter value of n1 78

even

In [13]:
n=int(input("Enter value of n1"))
if (n%4==0 and n%100!=0 and n%400!=0):
    print("leap year")
else:
    print("not")

Enter value of n1 78

not

In [14]:
#per and grade
n1=int(input("Enter mark of physics"))
n2=int(input("Enter mark of chemistry"))
n3=int(input("Enter mark of biology"))
n4=int(input("Enter mark of Mathematics"))
n5=int(input("Enter mark of cs"))
max=int(input("Enter max marks"))
total=n1+n2+n3+n4+n5
per=(total/max)*100
if(per>=90):
    print(f"grade A per={per} %")
elif(per>=80 and per<90):
    print(f"grade B per={per} %")
elif(per>=70 and per<80):
    print(f"grade c per={per} %")
elif(per>=60 and per<70):
    print(f"grade D per={per} %")
elif(per>=40 and per<60):
    print(f"grade E per={per} %")
else:
    print(f"Grade F per={per} %")

Enter mark of physics 78
Enter mark of chemistry 8
Enter mark of biology 78
Enter mark of Mathematics 89
Enter mark of cs 89
Enter max marks 500

grade D per=68.4 %

In [15]:
str1="India"
print(f"hello {str1}")

hello India

In [16]:
n1=int(input("Enter basic salary"))
n2=int(input("Enter mark of HRA"))
n3=int(input("Enter mark of DA"))

Enter basic salary 56
Enter mark of HRA 67
Enter mark of DA 78

In [17]:
i=1
while i<=10:
    print(f"{i},{i*i}")
    i=i+1

1,1
2,4
3,9
4,16
5,25
6,36
7,49
8,64
9,81
10,100

In [18]:
i=10
while i<=1:
    print(i)
    i=i-1
print("i=",i)

i= 10

In [19]:
i=10
n=int(input("enter n"))

while i<=n:
    print(i)
    i=i+1

enter n 34

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

In [20]:
i=10
n=int(input("enter n"))

while i<=n:
    print(i)
    i=i+2

enter n 34

10
12
14
16
18
20
22
24
26
28
30
32
34

In [ ]:
i=0
n=int(input("enter n"))

while i<=n:
    if i%n==0:
        print(i)
        i=i+1

enter n 67

0

In [ ]:
i=0
n=int(input("enter n"))

while i<=n:
    if i%2==0:
        print(i)
        i=i+1